{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Programs{% endblock %}

{% block body %}
    <h1>Programs - {{ category }}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }}</h2>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path("program_show", { id: program.id }) }}">See more</a>
        </div>
    {% else %}
        No program found
    {% endfor %}
    <div>
        <a href="{{ path('app_index') }}">
            Back to the home
        </a>
    </div>
{% endblock %}